{% extends "SWIPapp/navbar.html" %}
{% load static %}

{%block content%}


<a class="assset-link" href='/asset/{{asset.id}}/ecommerce'>
  <button class='cancelbtn4'>Cancel</button>
</a>

<div class = 'ecommerce'>
  <div class='listtitle2'>
    <p class="topinfo"><b>{{asset.Asset_QR}}</b> {{asset.Make}} {{asset.Model}} {{asset.Serial_Number}}</p>
    <div class="buttonlabels2">
    </div>

  <form method="POST" action =''>
      {% csrf_token %}
  <div class="ecommerceinfo">
    <p class="ecommerce1"> General Listing Info </p>
    <p class="ecommerce2"> <b>Listing title:</b> {{form.Ecommerce_Title}} </p>

    <p class="ecommerce2"> <b>Item Type:</b> {{form.Type}} </p>

    <p class="ecommerce2"> <b>Item Category:</b> {{form.Ecommerce_Category}} </p>

    <p class="ecommerce2"> <b>Item Condition:</b> {{form.Ecommerce_Condition}} </p>

    <p class="ecommerce2"> <b>Operating System:</b> {{form.Operating_System}} </p>
  
    <p class="ecommerce2"> <b>Price:</b> £{{form.Ecommerce_Price}} </p>  <br>


  </div>





  <div class="ebaysearch">
    <div class='listtitle2'>
      <p class="topinfo"><b>Other Features</b></p>
      </div>

  <button class="submitbtn3", name="save">Submit</button>
</form>

</div>
</div>



{% endblock %}