{% extends "SWIPapp/navbar.html" %}
{% load static %}

{%block content%}

<div class="orderinfo">
    <div class='listtitle2'>
        <p class="topinfo"><b>List Name:</b> {{list.ListName}}</p>
    </div>
    <br>
    <p class="maininfo"><b> Created: </b> {{list.Created}}</p>
    <p class="maininfo"><b> Number of Attached Assets: </b> {{list.AttachedAssets.all.count}} </p>
</div>

<div class="attachedassets">
    <div class='listtitle'>
        <h4> Assets on the List: </h4>
    </div>
    <div class='listcontainer'>
        {% for i in list.AttachedAssets.all%}

        <a href='/asset/{{i.id}}'>
            <div class="listitem">
                <p class="maininfo"> Asset QR: {{i.Asset_QR}}</p>
                <p class="moreinfo">{{i.Make}} {{i.Model}} {{i.Serial_Number}} </p>
                <p class="revealinfo">{{i.CPU}} , {{i.RAM}} GB RAM, {{i.Storage_Capacity}} GB Storage </p>
                <p class="revealinfo"> £{{i.Ecommerce_Price}}</p>
            </div> 
        </a>
        {%endfor%}
    </div>
{% endblock %}