{% load static %}
<html>
<head>
    <link rel="stylesheet" href={% static "main.css" %}>
    
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="halfwhite">
        <h5> Login </h5>

        <hr>

    </div>
    
    <div class="halfleft">
        <div class = 'logo'>
            <img src="{% static 'SWIPapp/images/Logo.png' %}" width="" height=""/>
            <p class = "SWIP"> SWIP™</p>
            <p class = "SWIPbtm"> Asset Management Made Easy </p>
           </div>

    </div>

</body>
</html>