{% load static %}

<!doctype html>
<html>
<head>
    <link rel="stylesheet" href={% static "main3.css" %}>

    
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="search">
    <form id="search-form" autocomplete="off">
      {% csrf_token %}
      <input type "text" id="search-input" class="searchbar" placeholder="Search Anything...">
    </form>
  <div id="results-box" class="not-visible results-card"></div>

  

<div class="footer"><p class="footertext">SWIP™ created by Mateusz Kozinski - all rights reserved. Current version: v0.55</p></div>

<div class="sidebar">
  <ul class="navbar-nav">
    <a aria-current="page" href='{%url 'home'%}'>
      <li class="nav-item" id="dashicon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-dashboard" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 4h6v8h-6z"></path>
          <path d="M4 16h6v4h-6z"></path>
          <path d="M14 12h6v8h-6z"></path>
          <path d="M14 4h6v4h-6z"></path>
       </svg>
    </li></a>
    <a href='{%url 'assets'%}'>
      <li class="nav-item" id="assetsicon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-laptop" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="3" y1="19" x2="21" y2="19"></line>
          <rect x="5" y="6" width="14" height="10" rx="1"></rect>
       </svg> </li></a>
    <a href='{%url 'orders'%}'>
      <li class="nav-item" id="ordersicon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-truck-return" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="7" cy="17" r="2"></circle>
          <circle cx="17" cy="17" r="2"></circle>
          <path d="M5 17h-2v-11a1 1 0 0 1 1 -1h9v6h-5l2 2m0 -4l-2 2"></path>
          <line x1="9" y1="17" x2="15" y2="17"></line>
          <path d="M13 6h5l3 5v6h-2"></path>
       </svg></li></a>
    <a class="nav-link" href='{%url 'lists'%}'>
      <li class="nav-item" id="listsicon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-checklist" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
          <path d="M14 19l2 2l4 -4"></path>
          <path d="M9 8h4"></path>
          <path d="M9 12h2"></path>
       </svg></li></a>
    <li class="nav-item" id="settingsicon" >
      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
        <circle cx="12" cy="12" r="3"></circle>
     </svg></li></a>
    <a href="#">
      <li class="nav-item" id="logouticon">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="35" height="35" viewBox="0 0 24 24" stroke-width="1.5" stroke="Black" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
          <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
       </svg></li></a>
  </ul>
</nav>
</div>

<div class="sidebardescriptions">
  <ul class="navbar-nav">
    <li class="nav-item2" id="dashdesc">Dashboard</li>
    <li class="nav-item2" id="assetsdesc">Assets</li>
    <li class="nav-item2" id="ordersdesc">Orders</li>
    <li class="nav-item2" id="listsdesc">Lists</li>
    <li class="nav-item2" id="settingsdesc">Settings</li>
    <li class="nav-item2" id="logoutdesc">Logout</li>
  </ul>


</div>

{%block content%}
<div id ="content", name="content">
{% endblock %}
<script src="{% static 'script.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
