{% extends "SWIPapp/navbar.html" %}
{% load static %}

{%block content%}



<div class="orderinfo">
    <div class='listtitle2'>
        <p class="topinfo"><b>Order Number:</b> {{order.Order_Number}}</p>
      <div class="buttonlabels3">
          <div class="asset-desc" id='deldes'>  <p class="link-desc"> Delete</p></div>
          <div class="asset-desc" id='editdes'>  <p class="link-desc">Edit</p></div>
        <div class="asset-desc" id='repdes'>  <p class="link-desc">Report</p></div>
        <div class="assetbutton" id='delicon'>  <a class="assset-link" href='/deleteorder/{{order.id}}'><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 7h16"></path>
            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
            <path d="M10 12l4 4m0 -4l-4 4"></path>
         </svg></a></div>
         <div class="assetbutton" id='editicon'>  <a class="assset-link" href='/updateorder/{{order.id}}'><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
            <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
            <path d="M16 5l3 3"></path>
         </svg></a></div>
        <div class="assetbutton" id='repicon'>  <a class="assset-link" href='/orderreport/{{order.id}}'><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="black" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
            <rect x="9" y="3" width="6" height="4" rx="2"></rect>
            <line x1="9" y1="12" x2="9.01" y2="12"></line>
            <line x1="13" y1="12" x2="15" y2="12"></line>
            <line x1="9" y1="16" x2="9.01" y2="16"></line>
            <line x1="13" y1="16" x2="15" y2="16"></line>
         </svg></a></div>
      </div>
    </div>

<div class='orderdetails'>
<p class="maininfo"> <b>Customer Name:</b> {{order.Customer}} </p>
<p class="maininfo"> <b>Customer Address:</b> {{order.Customer_Address}} </p>
</div>

<div class="attachedassets">
    <div class='listtitle'>
        <h4> Attached Assets and HDDs </h4>
    </div>
    <div class='listcontainer'>
        {%for i in asset %}   
        <a href='/asset/{{i.id}}'>
            <div class="listitem">
                <p class="maininfo"> Asset QR: {{i.Asset_QR}}</p>
                <p class="moreinfo">{{i.Make}} {{i.Model}} {{i.Serial_Number}} </p>
                <p class="revealinfo">CPU: {{i.CPU}}, Memory: {{i.RAM}} GB RAM </p>
                <p class="revealinfo">Storage: {{i.Storage}} {{i.Storage_Capacity}}GB</p>
            </div> 
        </a>
        {% endfor %}     
</div> 


<div class="attachtoorder">
    <div class='listtitle'>
        <h4> Import Assets from CSV</h4>
    </div>
    <p class="explanation"> Select one or multiple CSV files and press <b>Submit</b> to import Assets to this job </p>
    <div class='importasset2'>
        <form method="POST" action-"/" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="buttons">
            <input type="file" id="files" name="myfile" style="display:none;" multiple>
            <label class="uploadlabel" for="files">Select CSVs</label>
            <button type="submit" class = "submitbtn2", name="save">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="attachhddtoorder">
    <div class='listtitle'>
        <h4> Import Hard Drives from CSV</h4>
    </div>
    <p class="explanation"> Select one or multiple CSV files and press to import loose HDDs to this job </p>
    <label class="uploadlabel" for="files">Select CSVs</label>
    <button type="submit" class = "submitbtn2", name="save">Submit</button>
</div>

{% endblock %}
<script src="{% static 'script2.js' %}"></script>